footer {
    position: relative;
    height: 14vh;

    color: white;

    background-image: url('../images/pattern-bg-desktop.png');
    background-size: cover;
}
.footerStyle__div {
    padding-top: 40px;
}

.footerStyle {
    bottom: 0;
    text-align: center;
    
}
.frontEndStyle {
    text-decoration: inherit;
    color: white;
}
.mikeZegStyle {
    text-decoration: none;
    color: white;
}
.frontEndStyle:hover {
    filter: drop-shadow(0 0 0.5rem hsl(50.6, 100%, 50%));
        transition: all 0.3s ease-in-out;
        color: hsla(50, 95%, 41%, 0.79)
}
.mikeZegStyle:hover {
    filter: drop-shadow(0 0 0.5rem hsl(50.6, 100%, 50%));
    transition: all 0.3s ease-in-out;
    color: hsla(50, 95%, 41%, 0.79)
}

/*-------------- Media query / older Safari ---------- */
@media (max-width: 930px) {
    footer {
        display: none;
    }
    
}