.headerStyle {

    height: 31vh;
    min-width: 100%;
   
    background-image: url('../images/pattern-bg-desktop.png');
    background-size: cover;
}

/* --------- Header Text ---------- */
.headerStyle__h1 {
    color: white;

    font-size: 1.6rem;

    display: flex;
    justify-content: center;

    margin-top: 0;
    margin-left: auto;
    margin-right: auto;

    p {
        color: white;
        font-weight: 500;
        margin-top: 30px;

/* ------------ Media Query -------------- */
        @media (max-width:449px) {
            font-size: 2rem;
            margin-bottom: 0.5rem;
        }
    }
}

/* --------------- input style ------------- */
.form {
    height: 3.625;

    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.input {
    font-size: 1.5rem;
    padding: 1.1rem;

    width: 31rem;

    font-size: 0.75rem;
    font-weight: 400;
    color: gray;

    border: none;
    border-radius: 15px 0px 0px 15px;

    cursor: pointer;

 /* --------- Media Query ----------- */
    @media (max-width: 449px) {
        width: 67%;
    }
}   
button {
    width: 50px;

    border-radius: 0 15px 15px 0;
    border-color: transparent;
    padding: 1px;
    cursor: pointer;

    background-color: black;
    transition: all .3s ease-in-out;

    &:hover {
        background-color: hsla(0, 5%, 11%, 0.639);
    }

    .img {
        height: 12px;
    }
}
.form__btn_i {
    font-size: 1rem;
    color: white;
}

/* --------------- Info Style -------------- */
.headerStyle__info {
    position: absolute;
    margin-top: 2.3rem;

    left: 50%;
    
    -moz-transform: translate(-50, 0%); /* Firefox */
    -ms-transform: translate(-50%, 0%);  /* IE 9 */
    -webkit-transform: translate(-50%, 0%); /* Safari and Chrome*/
    -o-transform: translate(-50%, 0%); /* Opera */
    transform: translate(-50%, 0%);

    color: gray;
    background-color: white;
    border: 1px solid gray;
    border-radius: 20px;
    box-shadow: 0 0 1.2rem hsl(0, 2%, 44%);

    width: 80%;
    min-height: 15vh;
    z-index: 500;

    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
        font-size: 0.8rem;

        @media (max-width:450px) {
            display:contents;         
        }
    }

/* ------ Media Query ----- */
        
    /* margin-top for safari and others*/
        @media (min-width: 1900px) {
            margin-top: 4.3rem;
        }
        @media (min-width:1450px) {
            margin-top: 6rem;
        }
        @media (min-width: 900px) and (max-width: 1449px) {
            margin-top: 2.3rem;
        }
        @media (min-width: 451px) and (max-width: 899px) {
            margin-top: 4.3rem;
        }
        @media (max-width: 450px) {
            display: grid;
            width: 87%;
            margin-top: 2rem;
            justify-items: center;
        }
}
p {
    color: black;
    font-size: 1.3125rem;
    padding: 0;
}
.box {
    padding: 0;
    padding-left: 2rem;
    margin-top: 22px;
    margin-right: 10px;
    
    font-weight: 700;

    width: 25%;

    @media (max-width: 450px) {
        width: 100%;
    }
}
.box__border {
    border-left: 1px solid gray;
}
.top__span {

    @media (max-width:450px) {
        margin-top: 20px;
    }
}