footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;

    color: black;
}

.footerStyle {
 /* color: yellow */
}
.frontEndStyle {
    text-decoration: inherit;
    color: black;
}
.mikeZegStyle {
    text-decoration: none;
    color: black;
}
.frontEndStyle:hover {
    filter: drop-shadow(0 0 0.5rem hsl(50.6, 100%, 50%));
        transition: all 0.3s ease-in-out;
        color: hsla(50, 95%, 41%, 0.79)
}
.mikeZegStyle:hover {
    filter: drop-shadow(0 0 0.5rem hsl(50.6, 100%, 50%));
    transition: all 0.3s ease-in-out;
    color: hsla(50, 95%, 41%, 0.79)
}

/*-------------- Media query / older Safari ---------- */
@media (max-width: 900px) {
    footer {
        display: none;
    }
    
}