.header_Style {
    font-family: 'Poppins', sans-serif;
    display: grid;
    justify-items: center;

    padding-top: 2rem;
    margin-left: auto;
    margin-right: auto;

    width:45%;

/* media query */
@media (max-width: 770px) {
    width: 90%;       
}

}
.font_Margin_Top {
    margin-top: 30px;
}
.font_Margin_Cancel {
    margin-top: 15px;
    margin-bottom: 12px;
}
.h1_Font {
    font-size: 26px;
    line-height: 6px;
    font-weight: 300;
}
.font_Weight {
    font-weight: 500;
}
.h2_Font {
    font-weight: 300;
    font-size:12px;

    height: 100%;
    max-width: 400px;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow-wrap: break-word;
    text-align: center;

/* Media Query */
@media (max-width: 770px) {
    max-width: 300px;   
}
}
.font_Color {
    color: hsl(229, 6%, 66%);
}