.main_Style {
    width: 100vh;
    height: 85vh;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: -40px; */

    /* background-color: hsl(0, 0%, 98%); */
    /* border: 1px solid pink; */

    justify-content: center;
    align-content: center;
    
    display: grid;
    gap: 25px;

    grid-template-areas: 
    '. boxTop .'
    'boxLeft boxTop boxRight'
    'boxLeft boxBottom boxRight'
    '. boxBottom .';
}
.box_Top {
    grid-area: boxTop;

    width: 350px;
    height: 250px;
    
    border-radius: 5px;
    background-color: white;
    /* background-color: red; */

    font-size: 12px;
    box-shadow: hsl(229,6%,66%) 1px 5px 11px 0px;

    .boxColor {
        background-color: red;
        height: 3px;
        border-radius: 10px 10px 0 0;
    }
    h1 {
        margin: 2rem auto 1.5rem 2rem ;

        font-size: 20px;
        color: black;
    }
    h2 {
        margin: 0 2rem 2rem 2rem;
        
        font-size: 12px;
        font-weight: 300;
        color: hsl(229, 6%, 66%);
    }
    figure {
        margin-left: 0;
        margin-right: 0;
    }
    img {
        display: flex;
        margin-right: 2rem;
        margin-left: auto;        
    }
}
.box_Left {
    grid-area: boxLeft;

    width: 350px;
    height: 250px;

    border-radius: 5px;
    background-color: white;
    font-size: 12px;
    box-shadow: hsl(229,6%,66%) 1px 5px 11px 0px;
    
    .boxColor {
        background-color: hsl(180, 62%, 55%);
        height: 3px;
        border-radius: 10px 10px 0 0;
    }
    h1 {
        margin: 2rem auto 1.5rem 2rem ;

        font-size: 20px;
        color: black;
    }
    h2 {
        margin: 0 2rem 2rem 2rem;
        
        font-size: 12px;
        font-weight: 300;
        color: hsl(229, 6%, 66%);
    }
    figure {
        margin-left: 0;
        margin-right: 0;
    }
    img {
        display: flex;
        margin-right: 2rem;
        margin-left: auto;        
    }
}
.box_Right {
    grid-area: boxRight;

    width: 350px;
    height: 250px;

    border-radius: 5px;
    background-color: white;
    font-size: 12px;
    box-shadow: hsl(229,6%,66%) 1px 5px 11px 0px;
    
    .boxColor {
        background-color: hsl(212, 86%, 64%);
        height: 3px;
        border-radius: 10px 10px 0 0;
    }
    h1 {
        margin: 2rem auto 1.5rem 2rem ;

        font-size: 20px;
        color: black;
    }
    h2 {
        margin: 0 2rem 2rem 2rem;
        
        font-size: 12px;
        font-weight: 300;
        color: hsl(229, 6%, 66%);
    }
    figure {
        margin-left: 0;
        margin-right: 0;
    }
    img {
        display: flex;
        margin-right: 2rem;
        margin-left: auto;        
    }
}
.box_Bottom {
    grid-area: boxBottom;

    width: 350px;
    height: 250px;

    border-radius: 5px;
    background-color: white;
    font-size: 12px;
    box-shadow: hsl(229,6%,66%) 1px 5px 11px 0px;

    .boxColor {
        background-color: hsl(34, 97%, 64%);
        height: 3px;
        border-radius: 10px 10px 0 0;
    }
    h1 {
        margin: 2rem auto 1.5rem 2rem ;

        font-size: 20px;
        color: black;
    }
    h2 {
        margin: 0 2rem 2rem 2rem;
        
        font-size: 12px;
        font-weight: 300;
        color: hsl(229, 6%, 66%);
    }
    figure {
        margin-left: 0;
        margin-right: 0;
    }
    img {
        display: flex;
        margin-right: 2rem;
        margin-left: auto;        
    }
    
}