html {
    font-family: 'Roboto', sans-serif;
    font-size: $fontMedium;
}

h1, h2 {
    font-size: $fontMedium;
    color: black;
    font-weight: 300;
    
    > ul {
        font-size: $fontMedium;
    }
}

body {
    color: $darkSlateGrey;
    display: flex;
    place-items: center;
}

main {
    display: flex;

    // min-width: 900px;
    // min-height: 640px;

    // border: 1-x red solid;
    // background-color: pink;
}