html {
    font-family: 'Roboto', sans-serif;
    font-size: $fontMedium;
}

h1, ul, li{
    font-size: $fontMedium;
    color: black;
    font-weight: 300;
}

body {
    background-color: $darkSlateGrey;
    justify-content: center;
}

main {
    display: flex;
    
    min-width: 55rem;
    min-height: 35.1875rem;

    background-color: $white;
    border-radius: 20px;

// position on middle   
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;

// Tablet resolution
    @include breakpoints-down(tablet){
        min-width: 45rem;
        min-height: 1rem;
        max-height: 29rem;
    }
//phone resolution
    @include breakpoints-down(mobile){
        display: grid;
        min-width: 100%;
        min-height: 105%;
        border-radius: 0;
    }
//small phones resolution
    @include breakpoints-down(smallMobile){
        display: grid;
        min-width: 100%;
        min-height: 104%;
        border-radius: 0;
    }
}
footer {
// change position on tablet and less width
    position: absolute;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    @include breakpoints-down(smallMobile){
        display: none;
    }
   
}