.main {
    
    
//first part of main
    &__firstPart {
        color: blue;
        font-size: 2rem;
        margin: 2rem;
        margin-right: 0;

        min-width: 50%;
        min-height: 90%; 

        @include breakpoints-down(mobile){
            position: absolute;
            top:43%;

            margin: 0;
            max-height: 55%;
            min-height: 53%;
        }
    
        &__heading{
            color: red;

            h1 {
                color: black;
                font-size: 3rem;
                margin-left: 1rem;
                margin-bottom: 0;
                font-weight: 700;

                @include breakpoints-down(tablet){
                    font-size: 1.5rem;
                    margin-top:0;
                }

                // @include breakpoints-down(mobile){
                    // margin:0;
                    // min-width: 100%;
                    
                // }

            }
        }
        &__info {
            // min-width: 40%;
            max-width: 75%;
            margin: 0;
            margin-left: 1rem;
            
            
            font-size: 1rem;
            font-weight: 300;
            
            ul, li {
                color: $charcoalGray;
                width: 100%;
            }
            ul {
                margin-left: -1rem;
                margin-top: 2rem;
                font-weight: 200;

                @include breakpoints-down(tablet){
                    margin-top: 1rem;
                }

            }
            li {
               list-style-image: url('../assets/images/icon-success.svg');
               color: black;
            }
            h2 {
                font-size: 1.1rem;
                color: black;
                font-weight: 300;
            }
            h3 {
                font-size: 1rem;
                font-weight: 300;
                
                position: relative;
                top: -4px;
                margin-left: 0.7rem;
                
            }
        }
    }
//Input section
    &__secondPart__confirm {
        margin-left: 1rem;
        margin-top: 2rem;

        @include breakpoints-down(tablet){
            margin-top: 1.3rem;
        }
    }

// button, input, label
input {
    color:$grey;

    min-width: 75%;
    min-height: 45px;

    margin-left: 0;
    margin-top: 5px;
    padding-left: 15px;
    border:1px $charcoalGray solid;
    border-radius: 7px;

    &:hover{
        cursor: pointer;
    }
}
label {
    display: flex;
    justify-content: flex-start;

    width: 79%;

    font-size: 10px;
    font-weight: 700;
    color: black;

    span {
        display: none;

        float: right;
        margin-left: auto;
        color: red;
    }
}
button {
    color: $white;
    background-color: $darkSlateGrey;

    min-height: 3.5rem;
    min-width: 80%;
    border-radius: 7px;
    margin-top: 20px;
    margin-left: 0;

    &:hover{
        border: 0px ;
        cursor: pointer;
        background: $buttonHover;
    }

    @include breakpoints-down(tablet){
        min-height: 2.8125rem;
    }
}

// second part of main
    &__figure {
        content: ' ';

        min-width: 43%;
        max-width: 50%;

        margin:0;
        margin-right: 1rem;

        background-image: url(../assets/images/illustration-sign-up-desktop.svg);
        background-size: 95% 100%;
        background-repeat: no-repeat;

        @include breakpoints-down(mobile){
            position: absolute;
            margin: 0;

            height: 40%;
            width: 100%;
            min-width: 100%;
            max-width: 100%;
            
            // background-size: cover;
        }
    }
    
}
