.main {
    max-width: 930px;
    max-height: 650px;
    border: 1px red solid;

    &__figure {
        // position: absolute;
        float: right;

        background-image: url(../assets/images/illustration-sign-up-desktop.svg);
        min-width: 400px;
        min-height: 600px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__firstPart {
        color: blue;
        font-size: 2rem;
    
        &__heading{
            color: red;
        }
    }
    
}
