.main {
    
    margin: 1rem auto 1rem auto;
    
//first part of main
    &__firstPart {
        color: blue;
        font-size: 2rem;
        margin: 2rem;

        display: grid;
        justify-items: start;
        align-content: center;
        min-width: 50%;
        min-height: 99%; 
    
        &__heading{
            color: red;
        }
    &__article {
        max-width: 50%;

        }
    }
// second part of main
    &__figure {
        margin:0;
        
        content: ' ';
        display: flex;
        min-width: 50%;
        min-height: 99%;

        background-image: url(../assets/images/illustration-sign-up-desktop.svg);
        background-position: 50% 0;
        background-size: contain;
        background-repeat: no-repeat;
    }
    
}
