.success {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    margin-left: 15%;
    margin-right: 16%;
    margin-top: 7%;
    margin-bottom: 10%;

    max-width: 90%;
    max-height: 90%;

    @include breakpoints-down(mobile){
        margin-top:29%;
        margin-left: 10%;

    }

    &__image {
        content: '';

        min-width: 80px;
        min-height: 74px;

        background-image: url('../assets/images/icon-success.svg');
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    &__heading{

        h1{
        font-size: 2.3rem;
        font-weight: 700;
        letter-spacing: 3px;

        @include breakpoints-down(mobile){
            font-size: 2.6rem;
        }
        }
    }
    &__info {


        span {
            font-weight: 700;
        }
        @include breakpoints-down(mobile){
            font-size: 1.3rem;
        }
    }
    &__button {

        width: 100%;
        margin-top: 2.1875rem;        
    }

}
