//Color

    //Primary
$tomato: hsl(4,100%,67%);

    //Secondary
$darkSlateGrey: hsl(234,29%,20%);
$charcoalGray: hsl(235,18%,26%);
$grey: hsl(231, 7%,60%);
$white: hsl(0,0%,100%);
    // linear-gradient
$extraColor: linear-gradient(180deg, hsl(252, 100%, 67%), hsl(241, 81%, 54%));


//Font Size

//primary
$fontMedium: 1rem;
$fontLarge: 2rem;