//Color

    //Primary
$tomato: hsl(4,100%,67%);

    //Secondary
$darkSlateGrey: hsl(234,29%,20%);
$charcoalGray: hsl(235,18%,26%);
$grey: hsl(231, 7%,60%);
$white: hsl(0,0%,100%);
    // linear-gradient
$buttonHover: linear-gradient(to right, hsl(0, 67%, 59%),hsl(23, 82%, 46%));


//Font Size

//primary
$fontMedium: 1rem;
$fontLarge: 2rem;