@import "variable.scss";
@import "resolution.scss";

html {
    font-family: 'Hanken Grotesk', sans-serif;
}
body {
    color: $white;
    font-size: 1rem;
    margin: 0;
    // width: 100%;

    @include breakpoint-up(desktop){
        width: 50%;
        max-height: 150vh;
    }

    .side {
        width: 100%;
        min-height: 21rem;
        text-align: center;
        display: inline-grid;

        @include breakpoint-up(desktop){
            display: inline-flex;
            position: absolute;
            width: 50%;
            left: 50%;
            top:50%;
            border-radius: 32px 32px 32px 32px;
            transform: translate(-50%,-50%);
            box-shadow: 13px 13px 10px $paleBlue;
        }
        
        &__left{
            background: linear-gradient(180deg,$lightSlateBlue,$lightRoyalBlue);
            text-align: center;
            border-radius: 0 0 1.875rem 1.875rem;
            padding-top: 1rem;

            @include breakpoint-up(desktop){
                width:inherit;
                border-radius: 32px;
            }

            .part_1{
                font-size: 1rem;
                color: $lightLavender
                
            }
            .result {
                background: linear-gradient(180deg,$violetBlue,$persianBlue);
                margin: 1rem auto;
                width: 50%;
                border-radius: 400px;
                min-height: 10.7rem;
                text-align: center;
            }
            h1 {
                color: $white;
                padding-top: 2.5rem;
                font-size: 3.5rem;
                margin: 0;
            }

            p{
                margin:0 auto;
                color:$lightLavender;
                font-size: 0.8125rem;
            }

            .info {
                
                h1 {
                    padding: 0;
                    margin: 0;
                    color:$white;
                    font-size: 1.5rem;
                }

                h2 {
                    font-size: 1rem;
                    padding-bottom: 1rem;
                    margin: 1rem 2.5rem;
                    color:$lightLavender;
                }
            }
        }

        &__right{
            width: inherit;
            padding: 0;
            margin: 0;
            background-color: white;

            @include breakpoint-up(desktop){
                padding-top: 1.2rem;
                border-radius: 10px 32px 32px 10px;
            }
            
            h1 {
                color: black;
                font-size: 1rem;
                font-weight: 400;
                margin-left: 1rem;
                position: relative;
                display: flex;  
            }
        .scores { 
            width: 80%;
            margin: 0 auto;

            @include breakpoint-up(desktop){
                
            }
        
            .scorse{
                font-size: 0.8125rem;
                font-weight: 500;
                display: flex;
                border-radius: 5px;
                padding: 0.5rem;
            
                &:not(:last-child){
                margin-bottom: 1rem;
                }

                .img{
                    margin-left: 1rem;
                    
                }
                .discription{
                    margin-left: 0.5rem;   
                }
                .score {
                    margin-right: 0;
                    margin-left: auto;
                    float: right;
                    color:black;
                    font-weight: 700;
                    > span {
                        color:gray;
                    }
                }

                &.sco_1 {
                    color: $lightRed;
                    background-color: hsla(0,100%,67%,0.1);
                }
                &.sco_2 {
                    color: $orangeyYellow;
                    background-color: hsla(39,100%,56%,0.1);
                }
                &.sco_3 {
                    color: $greenTeal;
                    background-color: hsl(166,100%,37%,0.1);
                }
                &.sco_4 {
                    color: $cobaltBlue;
                    background-color: hsl(234,85%,80%,0.1);
                }
            }
        }
        }
    }
}

button {
    width: 80%;
    height: 2.4375rem;
    margin-top: 1rem;
    color: $white;
    background-color: $darkGrayBlue;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 30px;

    &:hover {
        background-color: $lightRoyalBlue;
    }

    @include breakpoint-up(desktop){
        margin-top: 2.3rem;
    }

}
footer {
    position: fixed;
    bottom: 0;
    color: black;
    margin-left: 35%;
    margin-right: auto;
    text-decoration: none;

    a {
        text-decoration: none;
        color: black;
    }
    a:hover {
        color: $orangeyYellow;
    }
}