.html{
    font-size: 0.875rem;
    background-color: $darkCyan;
    font-weight: 700;
    
}
body {
    background-color: $cream;
    // font-family: 'Fraunces', serif;
    // font-family: 'Hanken Grotesk', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

header{
    display: flex;
    max-width: 40%;
    max-height: 80%;
    top:50%;
    left:50%;
    position: absolute;
    transform: translate(-50%,-50%);
    background-color: white;

    @include breakpoint-down (mobile) {
        display: inline-table;
        max-width: 80%;
        min-height: 90%;
        
        top:0;
        right: 0;
        bottom: 0;
        left: 0;

        margin: 1.8125rem auto;

        transform: none;
        border-radius: 15px;
    }
}

.side_left {
    margin: 0;
    padding: 0;
    width: 50%;
    min-width: 49%;

    @include breakpoint-down(mobile){
        display: contents;
        // max-height: 30%;
    }

     img{
        object-fit: cover;
        width: 100%;
        height: 100%;

        @include breakpoint-down (mobile){
            
        }
    }
}

.side_right{
    margin: 1rem 1.875rem 1rem 1.875rem;

    width: 50%;
    height: 100%;
    display: grid;
    

    .product_cat{
        font-size: 0.625rem;
        font-weight: normal;
        color: $darkGrayishBlue;

        float: left;
        max-width: 80%;
        margin: 1rem 0 1.5625rem 0
    }
    .product_name {
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 1.3;
        font-family: 'Fraunces', serif;
        
        max-width: 70%;
        margin: 0rem 0 1rem 0
    }
    .product_description{
        color: $darkGrayishBlue;
        font-weight: 400;
        font-size: 0.7rem;
        line-height: 1.6;
        font-family: 'Hanken Grotesk', sans-serif;

        max-width: 80%;
        margin: 0 0 1rem 0;
    }
    .price {
        font-size: 1.5rem;
        color:$darkCyan;
        font-family: 'Fraunces', serif;
        font-weight: 500;
    
        min-width: 80%;
        margin: 0 0 1rem 0;

        > span:last-child{
            margin-left: 1rem;
            text-decoration: line-through;
            
            color: $darkGrayishBlue;
            font-size: 0.625rem;

        }
    }
    .btn {
        
        color: white;
        min-height: 51px;
        min-width: 80%;
        background-color: $darkCyan;

        border-radius: 10px;
        box-shadow: 0px 0px;

        & img {
            margin-right: 0.625rem;

        }

        &:hover{
            background-color: hsl(158, 55%, 20%);
        }
    }
}