$primary-color: hsl(0, 7%, 55%);
$secondary-color: hsl(217, 69%, 66%);

@font-face {
    font-family: workSans;
    src: url('../assets/fonts/WorkSans-VariableFont_wght.ttf');
}
@font-face {
    font-family: workSansItalic;
    src: url('../assets/fonts/WorkSans-Italic-VariableFont_wght.ttf');
}

* {
    box-sizing: border-box;
}
body {
    background-color: $primary-color;
    font-family: workSans;
    margin: 0;
    padding: 0;
}
header {
    background-image: url('../assets/images/patternDesktop.svg');
    position: absolute;
    height: 33%;
    width: 100%;
    margin: 0;
    padding: 0;
}
main {
    width: 50%;
    height: 60%;
    position: absolute;

    left: 50%;
    top: 45%;
    transform: translate(-50%,-50%);

    background-color: white;
    border-radius: 10px;
}