

html {
    font-size: 100%;
    box-sizing: border-box;
}

body {
    font-size: 0.9375rem;
    font-family: 'Overpass', sans-serif;
    background-color: black;
}

h1,h2,h3 {
    margin: 0;
    font-weight: 300;
    line-height: 1.15;
    color: $lightGrey;
}

main {
    border-radius: 25px;
    background-color: $veryDarkBlue;

    min-width: 305px;
    max-width: 320px;
    min-height: 325px;
    max-height: 350px;
    
    padding: auto 1.5625rem;

    font-size: 1.2rem;
    line-height: 1.5;

    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}

.question{
    display: grid;
    color: white;
    line-height: 1.3rem;
    margin: auto auto;

    min-width: 280px;
    max-width: 90%;

    min-height: 360px;
    max-height: 90%;

    &_star{
        width: 40px;
        height: 40px;
        margin-top: 1.5rem;

        background-image: url("../images/icon-star.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-color: $darkBlue;
        border-radius: 50% 50%;
    }
    &_case {
        font-size: 1.2rem;
        color: white;
        height: 26px;

    }
    &_description {
        color: $lightGrey;
        font-size: 0.725rem;
    }
    &_rating {
        font-size: 0.9rem;
        min-height: 30px;
        max-height: 40px;

        max-width: 270px;
        
        display: flex;

        margin-bottom: 60px;
        color: $lightGrey;

        > span{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $darkBlue;
            width: 40px;
            height: 38px;
            border-radius: 50% 50%;

            &:hover{
                background-color: $orange;
                cursor: pointer;
            }
            &:active {
                background-color: white;
                color: black;
            }
        }
        > span:not(:last-child){
            margin-right: 20px;
        }
    }
    &_btn {
        border-radius: 20px;
        border: none;
        background-color: $orange;
        font-size: 1.1rem;
        letter-spacing: 3px;

        position: absolute;
        bottom: 0;
        margin-bottom: 1rem;
        
        min-width: 278px;
        max-width: 340px;

        min-height: 45px;
        max-height: 45px;

        &:hover {
            background-color: white;
            cursor: pointer;
        }
    }
    &--juSeCe{
        justify-self: center;
    }
}

// hiden part
.answer {
    // min-width: 25rem;
    border-radius: 20px;
    display: none;
    
    background-color: $darkBlue;
    color: white;

    &_img{
        background-image: url('../images/illustration-thank-you.svg');
        width: 100%;
        min-height: 110px;
        margin: 2rem auto;
        background-repeat: no-repeat;
        background-position: center center;
        background-color: $darkBlue;
    }
    &_rating {
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 180px;
        min-height: 2rem;
        border-radius: 20px;
        color: $orange;
        background-color: hsl(216deg 12% 54% / 29%);;
        font-size: 0.875rem;
    }
    &_thanks {
        display: flex;
        justify-content: center;
        color: $white;
        font-size: 1.5rem;
        margin: 1.5rem auto 0.5rem auto;
    }
    &_description {
        text-align: center;
        font-size: 0.875rem;
        color: $lightGrey;
        max-width: 80%;
        margin: auto auto 1rem auto;
    }
}

footer {
    bottom: 0;
    color: red;
    position: fixed;
    float: left;
    width: 100%;

    a, a:hover,a:focus,a:active, a:link{
        text-decoration: none;
        color: inherit;
    }
}