:export {
  myOrange: hsl(25, 97%, 53%);
  myWhite: hsl(0, 0%, 100%);
  lightGrey: hsl(217, 12%, 54%);
  mediumGrey: hsl(216, 12%, 54%);
  darkBlue: hsl(213, 19%, 18%);
  veryDarkBlue: hsl(216, 12%, 8%);
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  font-size: 0.9375rem;
  font-family: "Overpass", sans-serif;
  background-color: black;
}

h1, h2, h3 {
  margin: 0;
  font-weight: 300;
  line-height: 1.15;
  color: hsl(217, 12%, 54%);
}

main {
  border-radius: 25px;
  background-color: hsl(216, 12%, 8%);
  min-width: 305px;
  max-width: 320px;
  min-height: 325px;
  max-height: 350px;
  padding: auto 1.5625rem;
  font-size: 1.2rem;
  line-height: 1.5;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.question {
  display: grid;
  color: white;
  line-height: 1.3rem;
  margin: auto auto;
  min-width: 280px;
  max-width: 90%;
  min-height: 300px;
  max-height: 90%;
}
.question_star {
  width: 40px;
  height: 40px;
  margin-top: 1.5rem;
  background-image: url("../images/icon-star.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: hsl(213, 19%, 18%);
  border-radius: 50% 50%;
}
.question_case {
  font-size: 1.2rem;
  color: white;
  height: 26px;
}
.question_description {
  color: hsl(217, 12%, 54%);
  font-size: 0.725rem;
}
.question_rating {
  font-size: 0.9rem;
  min-height: 30px;
  max-height: 40px;
  max-width: 270px;
  display: flex;
  margin-bottom: 35px;
  color: hsl(217, 12%, 54%);
}
.question_rating > span {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(213, 19%, 18%);
  width: 40px;
  height: 38px;
  border-radius: 50% 50%;
}
.question_rating > span:hover {
  background-color: hsl(25, 97%, 53%);
  cursor: pointer;
}
.question_rating > span:active {
  background-color: white;
  color: black;
}
.question_rating > span:not(:last-child) {
  margin-right: 20px;
}
.question_btn {
  border-radius: 20px;
  border: none;
  background-color: hsl(25, 97%, 53%);
  font-size: 1.1rem;
  letter-spacing: 3px;
  position: absolute;
  bottom: 0;
  margin-bottom: 1rem;
  min-width: 278px;
  max-width: 340px;
  min-height: 45px;
  max-height: 45px;
}
.question_btn:hover {
  background-color: white;
  cursor: pointer;
}
.question--juSeCe {
  justify-self: center;
}

.answer {
  display: none;
  background-color: hsl(213, 19%, 18%);
  color: white;
}
.answer_img {
  background-image: url("../images/illustration-thank-you.svg");
  width: 100%;
  min-height: 115px;
  margin: 2rem auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: hsl(213, 19%, 18%);
}
.answer_rating {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 180px;
  min-height: 2rem;
  border-radius: 20px;
  color: hsl(25, 97%, 53%);
  background-color: hsla(216, 12%, 54%, 0.29);
  font-size: 0.875rem;
}
.answer_thanks {
  display: flex;
  justify-content: center;
  color: hsl(0, 0%, 100%);
  font-size: 1.5rem;
  margin: 2rem auto 1.5rem auto;
}
.answer_description {
  text-align: center;
  font-size: 0.875rem;
  color: hsl(217, 12%, 54%);
  max-width: 80%;
  margin: auto auto 1rem auto;
}

footer {
  bottom: 0;
  color: red;
  position: fixed;
  float: left;
  width: 100%;
}
footer a, footer a:hover, footer a:focus, footer a:active, footer a:link {
  text-decoration: none;
  color: inherit;
}/*# sourceMappingURL=styles.css.map */