.cards{
  min-height: 280px;
  width: 100%;
  position: fixed;
  
  margin-top: -260px;
  margin-left: 20px;

    &__image__1 {
        content: " ";
        width: 290px;
        height: 160px;
        
        background-image: url('../../images/bg-card-back.png');
        background-size: 100%;
        background-repeat: no-repeat;

        margin-left: 100px;
        margin-top: 30px;

        span{
          margin-top:58px;
          margin-left:480px;

          h2{
            color:white;
            font-size: 1rem;
            margin-top: 44px;
            margin-left: 189px;

          }
        }
    }
        
    &__image__2 {
      content: " ";
      position: absolute;
      width: 290px;
      height: 160px;
      
      background-image: url('../../images/bg-card-front.png');
      background-size: 100%;
      background-repeat: no-repeat;

      margin-left: 25px;
      margin-top: -70px;

      &__smallImage {
        content: " ";
        position: absolute;
        width: 89px;
        height: 47px;

        background-image: url('../../images/card-logo.svg');
        background-size: 62%;
        background-repeat: no-repeat;

        margin-top: 25px;
        margin-left: 25px;
      }
      &__accountDetails{
        margin-top: 85px;

        h3 {
          border: 1px solid red;

          width: 90%;
          margin-left: auto;
          margin-right: auto;

          font-size: 1.4rem;
          letter-spacing: 1.3px;
          color: white;
        }
        &__bottom{
          margin-left: 0;
          margin-top: 10px;

          display: flex;
          width: 100%;

          &__name {
            
            h4 {
              text-align: left;
              margin-left: 25px;

              font-size: 0.9rem;
              color: white;
              
              width: 100%;
            }
          }
          &__expDate {
            

            h4{
              text-align: right;
              margin-right: 25px;

              font-size: 0.9rem;
              color: white;

              
            }
          }
        }



        
      }

      
    // @include
  }

}