// Resolution
// - Mobile: 375px
// - Desktop: 1440px

// Colors
    // Primary
        $LinearGradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
        $red: hsl(0, 100%, 66%);

    //Neutral
        $white: hsl(0, 0%, 100%);
        $LightGrayishViolet: hsl(270, 3%, 87%);
        $DarkGrayishViolet: hsl(279, 6%, 55%);
        $VeryDarkViolet: hsl(278, 68%, 11%);
    
    //Typography
        $mainFontSize: 18px

        // Font
            // Family: [Space Grotesk](https://fonts.google.com/specimen/Space+Grotesk)
            // Weights: 500