.main_style {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 300px;
    column-gap: 75px;
    row-gap: 75px;

    margin: 2rem 5rem 0 5rem;

    background-color: var(--background-color);
}
.mainContentStyle {
    max-width: 270px;
    min-width: 265px;

    max-height: 340px;
    min-height: 340px;
}
.mainContent_figure {
    border: 1px solid yellow;
    height: 150px;
    width: 100%;
    margin: 0;
    padding: 0;
}
.mainContent_countryBlock{
    border: 1px solid red;
    background-color: var(--elements-color);
    height: 190px;
    width: 100%;

    h3 {
        font-size: var(--medFont);
        color: var(--font-color-darkMode);
        font-weight: 700;
        margin: 0;
        padding: 0;
    }
    h4 {
        font-size: var(--smallFont);
        font-weight: 800;
        color: var(--font-color-darkMode);
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    p {
        color: var(--font-color-darkMode);
        font-weight: 400;
        margin-left: 5px;
    }
}