
.main_style {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 300px;

    margin: 2rem 5rem 0 5rem;

    column-gap: 75px;
    row-gap: 75px;
}
.mainContentStyle {
    max-width: 260px;
    max-height: 330px;
    
}
.mainContent_figure {
    border: 1px solid yellow;
    height: 140px;
    width: 100%;
    margin: 0;
    padding: 0;
}
.mainContent_countryBlock{
    border: 1px solid red;
    height: 155px;

    h3 {
        font-size: 1rem;
        color: var(--fontColorTitle);
        font-weight: 700;
        margin: 0;
        padding: 0;
    }
    h4 {
        font-size: 0.5rem;
        font-weight: 800;
        color: var(--fontColorTitle);
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    p{
        color: var(--fontColorTitle);
        font-weight: 400;
        margin-left: 5px;
    }
}