.main_style {
    display: grid;
    /* display: none; */
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 300px;
    column-gap: 75px;
    row-gap: 75px;

    margin: 2rem 5rem 0 5rem;

    background-color: var(--background-color);
}
.mainContentStyle {
    max-width: 270px;
    min-width: 265px;

    max-height: 340px;
    min-height: 340px;
    box-shadow: 2px 0px 15px 2px rgba(0,0,0,0.81);
    -webkit-box-shadow: 2px 0px 15px 2px rgba(0,0,0,0.81);
    -moz-box-shadow: 2px 0px 15px 2px rgba(0,0,0,0.81);
}
.mainContentStyle:hover {
    background-color: var(--background-color-LM);
    opacity: 0.5;
}
.mainContent_figure {
    /* border: 1px solid yellow; */
    height: 150px;
    width: 100%;
    margin: 0;
    padding: 0;
}
.mainContent_figure_img {
    height: 100%;
    width: 100%;
    background-size: 100%;
}
.mainContent_countryBlock{
    border: 1px solid var(--background-color);
    background-color: var(--elements-color);
    height: 190px;
    width: calc(100% - 2px);

    h3 {
        font-size: var(--medFont);
        color: var(--font-color-darkMode);
        font-weight: 700;
        margin: 0;
        padding: 0;
    }
    h4 {
        font-size: var(--smallFont);
        font-weight: 800;
        color: var(--font-color-darkMode);
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    p {
        color: var(--font-color-darkMode);
        font-weight: 400;
        margin-left: 5px;
    }
}
/* ------------------------ Media Query ------------------------ */
@media (max-width: 1439px) {
    .main_style {
        column-gap: 25px;
    }
    .mainContentStyle {
        min-width: 210px;
        max-width: 250px;
    }
}
@media (max-width: 1299px) {
    .main_style {
        
    }
}
@media (max-width: 999px) {
    .main_style {
        grid-template-columns: repeat(3,1fr);
    }
}
@media (max-width: 839px) {
    .main_style {
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width: 599px) {
    .main_style {
        grid-template-columns: repeat(1,1fr);
    }
    .mainContentStyle {
        min-width: 250px;
        max-width: 251px;
    }
}