#searching{
    display: flex;
    align-items: center;
}
#looking-label {
    position: relative;
    margin-left: 5rem;
    color: var(--font-color-darkMode);
}
#looking-label:before {
    content: '';
    position: absolute;
    left: 1rem;
    width: 2rem;
    height: 55px;
    background: url('../images/img/maps-and-flags-magnifying-glass-svgrepo-com.svg') center / contain no-repeat;
}
#looking-input {
    height: 55px;
    width: 450px;
    padding-left: 3.5rem;
    padding-right: 0.5rem;

    border-radius: 5px;
    box-shadow: none;
    border: 0;
    background-color: var(--elements-color);

    color: var(--font-color-darkMode);
    font-weight: 700;
}
#looking-input::placeholder {
    color: var(--font-color-darkMode);
}
#choose-region {
    position: absolute;
    right: 5rem;
}
#choose-region-form {
    width: 200px;
    height: 50px;
    background-color: var(--elements-color);

    text-align: center;
    border-radius: 5px;
    /* border: 1px solid red; */
}
#region {
    margin-top: 1rem;
    background-color: var(--elements-color);
    border: none;
    color: var(--font-color-darkMode);
}