.hidenSection {
    background: var(--background-color);
    width: 90%;
    height: 100%;
    margin-left: 4.5rem;
    display: none;
    /* display: grid; */
}
.btnBack, input[type='submit'], input[type='reset'] { 
    width: 135px;
    height: 40px;
    position: relative;
    margin-bottom: 3rem;

    color: var(--font-color-darkMode);
    border-radius: 5px;
    box-shadow: none;
    border: none;
    cursor: pointer;
    outline: inherit;
}
.btnBack::before {
    content: '<--';
    position: absolute;
    left: 1.5rem;

    color: var(--font-color-darkMode);
    /* background: ; */
}
.selectedCountry {
    display: flex;
    margin-left: 0;
    align-items: center;

    /* height: 100%;
    width: 100%; */
    height: 400px;
    /* width: 560px; */
}
.countryFlag {
    margin: 0;
    padding: 0;
    width: 50%;
    height: 100%;
    background: lightblue;
}
.selectedCountryImage {
    width: 100%;
    height: 100%;
}
.countryInfo {
    width: 50%;
    height: 100%;
    margin-left: 7rem;
    /* display: grid; */
    font-size: 12px;
}
.maxWidth {
    max-width: 270px;
}
.countryName {
    font-size: var(--xlargFont);
    color: var(--font-color-darkMode);
}
.countryDetails {
    color: var(--font-color-darkMode);
    font-size: 10px;
    margin-top: auto;
    margin-bottom: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 58%;
}
.inLine-languages {
    display: flex;
    align-items: center;
}
.lang-p {
    margin-left: 10px;
    font-size: 14px;
}
.countryDetails > h2 {
    font-weight: 300;
}
.countryDetails > h2 > span {
    font-weight: 700;
}
.countryBorder {
    /* display: block; */
}
.flexCountryBorder {
    display: flex;
}
.borderCountry {
    text-align: center;
    line-height: 25px;
    background: var(--elements-color);
    width: 60px;
    height: 25px;
    margin-left: 10px;
}
.countryBorder-element {
    display: flex;
    flex-wrap: wrap;
}
.flexCountryBorder {
    color: var(--font-color-darkMode);
}

@media (max-width: 1099px) {
    .selectedCountry {
        display: contents;
        width: 100%;
        height: 100%;
    }
    .countryFlag {
        width: 70%;
        height: 200px;
        margin: auto;
    }
    .countryInfo {
        width: 70%;
        height: 60%;
        margin: 0 auto 0 auto;
    }

}
@media (max-width: 740px) {
    .countryInfo {
        display:inline;
        align-items: center;
        justify-items: center;
    }
    .hidenSection {
        margin: 10px;
    }
    .countryDetails {
        margin: 0;
        display: grid;
        justify-content: center;
        justify-items: center;
        height: fit-content;
    }
    .maxWidth {
        max-width: 100%;
        display: contents;
    }
    .countryBorder {
        width: 100%;
    }
    .countryBorder-element {
        /* background-color: blue; */

        display: grid;
        width: 80%;
        grid-template-columns: repeat(auto-fill, 40px);
        justify-items: center;
        grid-gap: 0px 28px;
    }
    
}
@media (max-width: 435px) {
    .maxWidth {
        display: contents;
    }
}