:root {
    /* dark Mode */
    --elements-color: hsl(209, 23%, 22%);
    --background-color: hsl(207, 26%, 17%);
    --input-color: hsl(165, 2%, 54%);

    /* light Mode */
    --elements-color-LM: hsl(0, 0%, 100%);
    --background-color-LM: hsl(0, 0%, 98%);
    --input-color-LM: hsl(0,0%,52%);

    /* font color  */
        /* dark version */
    --font-color-darkMode:hsl(0, 0%, 100%);
        /* light version */
    --font-color-lightMode: hsl(200, 15%, 8%);

    --xlargFont: 2rem;
    --largFont: 1.5rem;
    --medFont: 1.2rem;
    --smallFont: 0.8rem;
}
.marginLeft {
    margin-left: 1rem;
}
.marginTop {
    margin-top: 1rem;
}
.marginRightSmall {
    margin-right: 5px;
}