:root {
    --primary-color: hsl(0, 5%, 55%);
    --second-color: hsl(10,50%,55%);

    --fontColorTitle:hsl(0, 0%, 100%);
    --fontColorSubtitle:hsl(0, 4%, 76%);

    --xlargFont: 2rem;
    --largFont: 1.5rem;
    --medFont: 1.2rem;
    --smallFont: 0.75rem;
}
.marginLeft {
    margin-left: 1rem;
}
.marginTop {
    margin-top: 1rem;
}
.marginRightSmall {
    margin-right: 5px;
}