@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
:root{
    font-family: 'Rubik', sans-serif;
    
}
body{
    height: 100vh;
    color:white;
    background-color: darkgray;
}
main{
    top: 50%;
    position: relative;
    left: 50%;
    transform: translate(-50%,-50%);
}
.top__part{
    height: 22%;
    
    background-color: orange;
}
.second__section{
    height: 100%;
}
.figure__img{
    margin: 0;
    height: 100%;   
}
.bottom__part{
    height: 78%;
    border-radius: 25px;
    
    background-color: blue;

    position: relative;
    z-index: 1;
}


.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    // justify-content: center;

    text-decoration: none;

    a:hover{
        cursor: pointer;
        filter: drop-shadow(0 0 0.9rem hsl(50.6, 100%, 50%));
        transition: all 0.3s ease-in-out;
    }
}