.user{
    border: 1px solid yellow;

    &__info{
        border: 1px solid blue;
        
        &__figure{
            
            img{
                width: 80px;
                height: 80px;
            }
        }
    }
    &__nav{
        border:1px solid #d51fa7;
    }
}