.grid{
    border: 1px solid red;
    align-items: center;
}
.grid__main{
    display: grid;
    gap:30px;
    grid-template-columns: repeat(4,1fr);

    height: 320px;
}
.grid__main__user{
    // background-color: lightcoral;
    grid-column-start: 1;
    grid-row: 1 / span 2;

    height: 100%;

    .grid__main__user__info{
        background-color: $desaturated;
        margin:0;
        padding: 0;
        height: 65%;
        
        position: relative;
        z-index: 1;
        
        border-radius: 21px;
        
        &__figure{
            margin:0;
            
            img{
                width: 70px;
                
                margin: 0;
                margin-top:1rem;
                margin-left: 1rem;
                border-radius: 50%;
            
                border: 3px solid $whiteBorder;
            }

        }
        &__name{
            margin:auto;
            margin-left:1.5rem;
            margin-top: 1.5rem;
        }
    }
    &__swap{
        margin: 0;
        margin-top: -1rem;
        padding: 0;
        z-index: 2;

        font-size: 0.8125rem;

        height: 40%;
        background-color: $darkBlue;


        border: 1px solid blue;
        
        ul{
            // margin-left: -9%;
            margin-top:2.1rem;
            width: 30%;

            list-style-type: none;
            color: $desaturated;
            

            :hover{
                cursor: pointer;
            }

        }
        ul li{
            margin-left: -20px;
        }
        ul li:not(:last-child){
            margin-bottom: 0.7rem;
            
        }
    }
}
