.box:not(:first-child) {
    height: 200px;
    width: 200px;

    border: 1px solid red;
}
.user {
    grid-area: user;
    
    width: 200px;

    border: 1px solid orange;

    &__details {
        height: 320px;

        background-color: $blue;

        &__img {
            
            
            img {
                margin: 25px 0 0 25px;
                width: 80px;
                height: 80px;
            }
        }
        &__name {
            margin: 0 0 0 25px;

            h1 {
                font-size: 15px;
            }
            p {
                font-size: 23px;
            }
        }
    }
    &__period{
        height: 165px;
        background-color: $darkBlue;
        
        margin-top: -55px;

        ul{
            padding: 0;
            margin-left: 25px;
            padding-top: 40px;
            font-size: 13px;
        }
        li {
            list-style: none;
        }
        li:not(:last-child){
            margin-bottom: 15px;
        }
    }
}
.work {
    grid-area: work;
}
.play {
    grid-area: play;
}
.study {
    grid-area: study;
}
.exercise {
    grid-area: exercise;
}
.social {
    grid-area: social;
}
.selfCare {
    grid-area: selfCare;
}