.main__content{

    border:1px solid blue;
    display: grid;
    

    &__work{
        border:1px solid red;
    }
    &__play{
        border:1px solid red;
    }
    &__study{
        border:1px solid red;
    }
    &__exercies{
        border:1px solid red;
    }
    &__social{
        border:1px solid red;
    }
    &__selfCare{
        border:1px solid red;
    }
}