// Color
    // Primary
    $blue: hsl(246,80%,60%);
            //work
    $LightRed:hsl(15,100%,70%);
            //play
    $softBlue: hsl(195,74%,62%);
            //study
    $lightRed:hsl(348,100%,68%);
            //exercise
    $limeGreen: hsl(145,58%,55%);
            // social
    $violet: hsl(264,64%,52%);
            // self care
    $softOrange: hsl(43,84%,65%);
    // Neutral
    $veryDarl: hsl(226,43%,10%);
    $darkBlue: hsl(235,46%,20%);
    $desaturated: hsl(235,45%,61%);
    $paleBlue:hsl(236,100%,87%);

//Font Size - card titles e.g Work, play
    $fontSize: 18px;
    $fontWeighLight: 300;
    $fontWeigMedium: 400;
    $fontWeigHeavy: 500;